.mini-navbar-wrapper {
    background-color: #f5f5f5;
  .inside-wrapper {
    margin-left: 80px;
    margin-right: 80px;
    padding: 10px 20px;
    @include mobile{
        margin-left: 15px;
        margin-right: 15px;
    }
    @include mobile-xs{
        margin-left: 15px;
        margin-right: 15px;
    }
    @include tablet{
        margin-left: 15px;
        margin-right: 15px;
    }
    .mini-nav-left {
      display: flex;
      flex-direction: row;
      .date {
        font-size: 12px;
        color: #717171;
        margin-right: 10px;
      }
      .time {
        font-size: 12px;
        color: #717171;
      }
      .skip-content {
        margin-left: 30px;
        font-size: 12px;
        color: #717171;
        font-weight: bold;
        &:hover{
            cursor: pointer;
        }
      }
      .screen-reader-access {
        margin-left: 30px;
        font-size: 12px;
        color: #717171;
        font-weight: bold;
        &:hover{
            cursor: pointer;
        }
      }
    }
    .mini-nav-right {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        @include mobile{
            margin-top: 10px;
            justify-content: center;
        }
        @include mobile-xs{
            margin-top: 10px;
            justify-content: center;
        }
        .color-options{
            display: flex;
            flex-direction: row;
            .box{
                width: 20px;
                height: 20px;
                border: 1.5px solid black;
                background: #ffffff;
                margin-right: 10px;
                &:hover{
                    cursor: pointer;
                }
            }
            .black-box{
                width: 20px;
                height: 20px;
                background: black;
                margin-right: 10px;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        .font-options{
            margin-left: 30px;
            display: flex;
            flex-direction: row;
            .font-box{
                border: 1.5px solid #717171;
                background: #ffffff;
                font-size: 12px;
                margin-right: 10px;
                width: 20px;
                height: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        .site-map{
            margin-left: 30px;
            .fa-sitemap{
                font-size: 15px;
                margin-right: 10px;
                &:hover{
                    cursor: pointer;
                }
            }
            .fa-envelope{
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
  }
}
